<!--/*
    footer      :   A footer element that contains the copyright notice.
    p-4         :   Applies padding of 1rem to all sides of the footer.
    bg-base-300 :   Sets the background color of the footer to a predefined base color.
    mt-auto     :   Applies a top margin that automatically adjusts to fill the available space.
*/-->
<!--/*@thymesVar id="supportedKind" type="tech.mogami.commons.api.facilitator.supported.SupportedResponse.supportedKind"*/-->
<footer class="footer p-4 bg-base-300 mt-auto" x-data="{ year: new Date().getFullYear() }">
    <aside class="w-full flex flex-col md:flex-row justify-between items-center text-center md:text-left">

        <!--/* Left side of the footer containing the copyright notice */-->
        <p>
            &copy; <span x-text="year"></span>&nbsp;-&nbsp;
            <a href="https://mogami.tech" target="_blank">Mogami</a>&nbsp;|
            <span class="badge badge-soft badge-info mr-2"
                  th:each="supportedKind: ${supportedKinds.kinds()}"
                  th:text="${supportedKind.toFormattedString()}">
            </span>
        </p>

        <!--/* Right side of the footer containing the facilitator address */-->
        <div class="hidden md:block">
            <span class="badge badge-outline font-mono text-xs"
                  th:text="${facilitatorAddress}">
            </span>
        </div>

    </aside>
</footer>