<!--/*
    justify-between :   Distributes space between items, pushing them to the edges.
    px-4            :   Applies horizontal padding.
    py-4            :   Applies vertical padding.
*/-->
<header class="navbar justify-between px-4 py-4">

    <!--/*
        flex            :   Applies flexbox layout to the element.
        gap-2           :   Adds a gap of 0.5rem between flex items
    */-->
    <a class="flex gap-2" th:href="@{/}">
        <img alt="Mogami X402 Console logo"
             class="h-6 w-6 align-text-bottom"
             th:src="@{/images/logo/mogami-x402-facilitator-logo-32x32.png}"/>
        <span th:text="#{generic.application.shortName}"></span>
    </a>

    <!--/*
        Right: Buttons (hidden on mobile)
        btn             :   Applies button styling.
        btn-secondary   :   Applies secondary button color scheme.
        btn-sm          :   Makes the button small.
        btn-outline     :   Applies outline style to the button.
    */-->
    <div class="hidden md:flex gap-2 items-center">

        <!-- Sources (GitHub) -->
        <a class="btn btn-secondary btn-sm btn-outline flex items-center gap-2"
           href="https://github.com/mogami-tech/x402-facilitator"
           rel="noopener"
           target="_blank">
            <span class="icon-[mdi--github] inline-block h-5 w-5"></span>
            <span th:text="#{home.github.button}"></span>
        </a>

        <!-- API (Swagger) -->
        <a class="btn btn-secondary btn-sm btn-outline flex items-center gap-2"
           rel="noopener"
           target="_blank"
           th:href="@{/swagger-ui/index.html}">
            <span class="icon-[mdi--api] inline-block h-5 w-5"></span>
            <span th:text="#{home.documentation.button}"></span>
        </a>

        <!-- Contact (email) -->
        <a class="btn btn-secondary btn-sm btn-outline flex items-center gap-2"
           href="mailto:contact@mogami.tech"
           rel="noopener">
            <span class="icon-[mdi--email-outline] inline-block h-5 w-5"></span>
            <span th:text="#{home.contact.button}"></span>
        </a>

    </div>

</header>