<!--/*
    justify-between :   Distributes space between items, pushing them to the edges.
    px-4            :   Applies horizontal padding.
    py-4            :   Applies vertical padding.
*/-->
<header class="navbar justify-between px-4 py-4">

    <!--/*
        flex            :   Applies flexbox layout to the element.
        gap-2           :   Adds a gap of 0.5rem between flex items
    */-->
    <a class="flex gap-2" th:href="@{/}">
        <img alt="Mogami X402 Console logo"
             class="h-6 w-6 align-text-bottom"
             th:src="@{/images/logo/mogami-x402-facilitator-logo-32x32.png}"/>
        <span th:text="#{generic.application.shortName}"></span>
    </a>

    <!--/*
        Right: Buttons (hidden on mobile)
        btn             :   Applies button styling.
        btn-secondary   :   Applies secondary button color scheme.
        btn-sm          :   Makes the button small.
        btn-outline     :   Applies outline style to the button.
    */-->
    <div class="hidden md:flex gap-2 items-center">

        <!-- Use our facilitator -->
        <a class="button-header"
           onclick="use_facilitator_modal.showModal()"
           rel="noopener">
            <span class="icon-[mdi--cloud] inline-block h-5 w-5"></span>
            <span th:text="#{home.use.button}"></span>
        </a>
        <dialog class="modal modal-bottom sm:modal-middle" id="use_facilitator_modal">
            <div class="modal-box">
                <h3 class="text-lg font-bold" th:text="#{home.use.modal.title}"></h3>
                <p>
                    <span th:text="#{home.use.modal.description.line1}"></span><br>
                    <span th:text="#{home.use.modal.description.line2}"></span><br>
                    <a class="link" href="https://facilitator.mogami.tech">https://facilitator.mogami.tech</a>
                </p>
                <div class="modal-action">
                    <form method="dialog">
                        <button class="btn" th:text="#{generic.close}"></button>
                    </form>
                </div>
            </div>
        </dialog>

        <!-- Run your facilitator -->
        <a class="button-header"
           href="https://mogami.gitbook.io/mogami/faciliator-server/getting-started"
           rel="noopener"
           target="_blank">
            <span class="icon-[mdi--server] inline-block h-5 w-5"></span>
            <span th:text="#{home.run.button}"></span>
        </a>

        <!-- API (Swagger) -->
        <a class="button-header"
           rel="noopener"
           target="_blank"
           th:href="@{/swagger-ui/index.html}">
            <span class="icon-[mdi--api] inline-block h-5 w-5"></span>
            <span th:text="#{home.documentation.button}"></span>
        </a>

        <!-- Sources (GitHub) -->
        <a class="button-header"
           href="https://github.com/mogami-tech/x402-facilitator"
           rel="noopener"
           target="_blank">
            <span class="icon-[mdi--github] inline-block h-5 w-5"></span>
            <span th:text="#{home.github.button}"></span>
        </a>

        <!-- Contact (email) -->
        <a class="button-header"
           href="mailto:contact@mogami.tech"
           rel="noopener">
            <span class="icon-[mdi--email-outline] inline-block h-5 w-5"></span>
            <span th:text="#{home.contact.button}"></span>
        </a>

    </div>

</header>